.upper-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  background-color: #05385f;
  color: #fff;
}
.scroll-tracking-container {
  width: 100%;
  height: 10%;
  background-color: #3983d8;
}
.current-progress-bar {
  height: 10px;
  background: #e9ec1c;
  width: 0%;
}

.data-container {
  margin-top: 6.25rem;
}
